USE [master]
GO
/****** Object:  Database [expense_management]    Script Date: 4/12/2025 4:42:21 PM ******/
CREATE DATABASE [expense_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'expense_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\expense_management.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'expense_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\expense_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [expense_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [expense_management]
GO
/****** Object:  Table [dbo].[APIKeys]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIKeys](
	[api_key_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[service_name] [nvarchar](100) NOT NULL,
	[api_key] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[api_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[budget_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_id] [int] NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[budget_type] [nvarchar](20) NOT NULL,
	[warning_threshold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[budget_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[category_type] [nvarchar](10) NOT NULL,
	[category_group_id] [int] NULL,
	[category_icon_char] [nvarchar](50) NULL,
	[category_icon_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryGroups]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryGroups](
	[category_group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[group_icon] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[currency_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[currency_code] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[currency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[expense_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[payment_method] [nvarchar](50) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[recurring] [tinyint] NULL,
	[location] [nvarchar](255) NULL,
	[tags] [nvarchar](255) NULL,
	[image_path] [nvarchar](255) NULL,
	[end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gifts]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gifts](
	[gift_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[gift_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[gift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incomes]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incomes](
	[income_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[income_date] [datetime] NOT NULL,
	[description] [nvarchar](255) NULL,
	[payment_method] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[recurring] [int] NULL,
	[location] [nvarchar](255) NULL,
	[tags] [nvarchar](255) NULL,
	[image_path] [nvarchar](255) NULL,
	[end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[income_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investments]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investments](
	[investment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[investment_type] [nvarchar](100) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[current_value] [decimal](10, 2) NULL,
	[investment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[investment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[date_created] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[is_admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[total_income] [decimal](10, 2) NULL,
	[total_expense] [decimal](10, 2) NULL,
	[net_balance] [decimal](10, 2) NULL,
	[date_created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingsGoals]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingsGoals](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[goal_name] [nvarchar](100) NOT NULL,
	[target_amount] [decimal](18, 2) NULL,
	[saved_amount] [decimal](18, 2) NULL,
	[target_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[priority_level] [int] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[monthly_required_amount] [decimal](18, 2) NOT NULL,
	[saved_this_month] [decimal](18, 2) NOT NULL,
	[remaining_amount] [decimal](18, 2) NOT NULL,
	[is_completed_this_month] [bit] NOT NULL,
	[last_saved_at] [datetime] NULL,
	[extra_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedExpenses]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedExpenses](
	[share_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[expense_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[share_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[share_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionLogs]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[action] [nvarchar](20) NOT NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[transaction_type] [nvarchar](10) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[date] [datetime] NULL,
	[category_id] [int] NULL,
	[expense_id] [int] NULL,
	[income_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHiddenGroups]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHiddenGroups](
	[user_id] [int] NOT NULL,
	[category_group_id] [int] NOT NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[category_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[user_id] [int] NOT NULL,
	[notification_id] [int] NOT NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[phone_number] [nvarchar](20) NULL,
	[date_created] [datetime] NULL,
	[role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 4/12/2025 4:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[dark_mode] [bit] NULL,
	[language] [nvarchar](50) NULL,
	[notifications_enabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ('category') FOR [budget_type]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((90)) FOR [warning_threshold]
GO
ALTER TABLE [dbo].[CategoryGroups] ADD  DEFAULT ('LayerGroup') FOR [group_icon]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Gifts] ADD  DEFAULT (getdate()) FOR [gift_date]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [recurring]
GO
ALTER TABLE [dbo].[Investments] ADD  DEFAULT ((0.00)) FOR [current_value]
GO
ALTER TABLE [dbo].[Investments] ADD  DEFAULT (getdate()) FOR [investment_date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Unread') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0.00)) FOR [saved_amount]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ('In Progress') FOR [status]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((2)) FOR [priority_level]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0)) FOR [monthly_required_amount]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0)) FOR [saved_this_month]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0)) FOR [remaining_amount]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0)) FOR [is_completed_this_month]
GO
ALTER TABLE [dbo].[SavingsGoals] ADD  DEFAULT ((0)) FOR [extra_amount]
GO
ALTER TABLE [dbo].[TransactionLogs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((0)) FOR [dark_mode]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ('en') FOR [language]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((1)) FOR [notifications_enabled]
GO
ALTER TABLE [dbo].[APIKeys]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK__Budgets__categor__07C12930] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK__Budgets__categor__07C12930]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_CategoryGroup] FOREIGN KEY([category_group_id])
REFERENCES [dbo].[CategoryGroups] ([category_group_id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_CategoryGroup]
GO
ALTER TABLE [dbo].[Currencies]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Investments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavingsGoals]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SharedExpenses]  WITH CHECK ADD  CONSTRAINT [FK__SharedExp__expen__18EBB532] FOREIGN KEY([expense_id])
REFERENCES [dbo].[Expenses] ([expense_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SharedExpenses] CHECK CONSTRAINT [FK__SharedExp__expen__18EBB532]
GO
ALTER TABLE [dbo].[SharedExpenses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[TransactionLogs]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__trans__75A278F5] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transactions] ([transaction_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionLogs] CHECK CONSTRAINT [FK__Transacti__trans__75A278F5]
GO
ALTER TABLE [dbo].[TransactionLogs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Expenses] FOREIGN KEY([expense_id])
REFERENCES [dbo].[Expenses] ([expense_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Expenses]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Income] FOREIGN KEY([income_id])
REFERENCES [dbo].[Incomes] ([income_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Income]
GO
ALTER TABLE [dbo].[UserHiddenGroups]  WITH CHECK ADD FOREIGN KEY([category_group_id])
REFERENCES [dbo].[CategoryGroups] ([category_group_id])
GO
ALTER TABLE [dbo].[UserHiddenGroups]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[Notifications] ([notification_id])
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD CHECK  (([category_type]='Expense' OR [category_type]='Income'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([status]='Read' OR [status]='Unread'))
GO
ALTER TABLE [dbo].[SavingsGoals]  WITH CHECK ADD CHECK  (([status]='Failed' OR [status]='Achieved' OR [status]='In Progress'))
GO
ALTER TABLE [dbo].[TransactionLogs]  WITH CHECK ADD CHECK  (([action]='Deleted' OR [action]='Updated' OR [action]='Added'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([transaction_type]='Expense' OR [transaction_type]='Income'))
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD CHECK  (([status]='Deleted' OR [status]='Read' OR [status]='Unread'))
GO
USE [master]
GO
